{#
/**
 * @file
 * Template for a one-two-one-cl column panel layout.
 */
#}
<div class="panel-layout-one-two-one-cr" {% if css_id %}{{ css_id }}{% endif %}>
    <div class="panel-panel">
        <div class="row panel--fullrow">
            <div class="layout--top">{{ content.top }}</div>
        </div>
        <div class="row panel--fullrow">
            <div class="container">
                <div class="col-sm-6 layout--middle-left">{{ content.middle_left }}</div>
                <div class="col-sm-6 layout--middle-right">{{ content.middle_right }}</div>
            </div>
        </div>
        <div class="row panel--fullrow">
            <div class="layout--bottom">{{ content.bottom }}</div>
        </div>
    </div>
</div>
