<div{{ attributes.setAttribute('id', 'pg__c') }}>

  <div class="uikit-header">
    <!-- ______________________ BRANDING _______________________ -->

    <header id="branding">
      <div class="cog--mq">
        {% if page.branding %}
          <div id="branding-region">
            {{ page.branding }}
          </div>
        {% endif %}
      </div>
    </header>
    <!-- /branding -->


    <!-- ______________________ HEADER _______________________ -->

    <header id="header">
      <div class="cog--mq">
        {% if page.header %}
          <div id="header-region">
            {{ page.header }}
          </div>
        {% endif %}
      </div>
    </header>
    <!-- /header -->

    <!-- ______________________ Pre content _______________________ -->
    {% if page.pre_content %}
      <div class="clearfix pre-content" id="pre-content">
        <div class="cog--mq">
          {{ page.pre_content }}
        </div>
      </div>
    {% endif %}
  </div>
  <!-- ______________________ MAIN _______________________ -->
  <div{{ main_attributes.setAttribute('id', 'main').addClass('clearfix') }}>

    {% if has_sidebar %}
      <div class="row">
    {% endif %}

    {% if page.sidebar_first %}
      <aside {{ sidebar_first_attributes.setAttribute('id', 'sidebar-first').addClass(['sidebar-first', 'sidebars']) }}>
        {{ page.sidebar_first }}
      </aside>
    {% endif %}
    <!-- /sidebar-first -->

    <section {{ content_attributes.setAttribute('id', 'content') }}>

      {% if breadcrumb or title or messages or tabs or action_links %}
        <div id="content-header">

          {{ breadcrumb }}

          {% if page.highlighted %}
            <div id="highlighted">{{ page.highlighted }}</div>
          {% endif %}

          {{ title_prefix }}

          {% if title %}
            <h1 class="title uikit-header-heading">{{ title }}</h1>
          {% endif %}

          {{ title_suffix }}

          {% if tabs %}
            <div class="tabs">{{ tabs }}</div>
          {% endif %}

          {% if messages %}
            {{ messages }}
            {{ page.help }}
          {% endif %}

          {% if action_links %}
            <ul class="action-links">{{ action_links }}</ul>
          {% endif %}

        </div>
        <!-- /#content-header -->
      {% endif %}

      <div id="content-area">
        <div class="uikit-grid">
          <div class="container-fluid">
            {{ page.content }}
          </div>
        </div>
      </div>

      {{ feed_icons }}

    </section>
    <!-- /content-inner /content -->

    {% if page.sidebar_second %}
      <aside {{ sidebar_second_attributes.setAttribute('id', 'sidebar-second').addClass(['sidebar-second', 'sidebars']) }}>
        {{ page.sidebar_second }}
      </aside>
    {% endif %}
    <!-- /sidebar-first -->

    {% if has_sidebar %}
      </div>
    {% endif %}

  </div>
  <!-- /main -->

  <!-- ______________________ Post content _______________________ -->

  {% if page.post_content %}
    <div class="clearfix post-content uikit-grid" id="post-content">
      {{ page.post_content }}
    </div>
  {% endif %}

  <!-- ______________________ FOOTER _______________________ -->

  {% if page.footer %}
    <footer id="footer" class="uikit-footer">
      <div class="cog--mq">
        {{ page.footer }}
      </div>
    </footer>
    <!-- /footer -->
  {% endif %}

</div>
<!-- /page -->
