{#
/**
 * @file
 * Template for a one-two-one-cl column panel layout.
 */
#}
<div class="panel-layout-one-three-two-one" {% if css_id %}{{ css_id }}{% endif %}>
    <div class="panel-panel">
        <div class="row panel--fullrow">
            <div class="layout--top">{{ content.top }}</div>
        </div>
        <div class="row panel--fullrow">
            <div class="container">
                <div class="col-sm-4 layout--first-middle-left">{{ content.first_middle_left }}</div>
                <div class="col-sm-4 layout--first-middle-center">{{ content.first_middle_center }}</div>
                <div class="col-sm-4 layout--first-middle-right">{{ content.first_middle_right }}</div>
            </div>
        </div>
        <div class="row panel--fullrow">
            <div class="container">
                <div class="col-sm-6 layout--second-middle-left">{{ content.second_middle_left }}</div>
                <div class="col-sm-6 layout--second-middle-right">{{ content.second_middle_right }}</div>
            </div>
        </div>
        <div class="row panel--fullrow">
            <div class="layout--bottom">{{ content.bottom }}</div>
        </div>
    </div>
</div>
